.contact {
  padding-top: var(--spacing-96);
  padding-bottom: var(--spacing-80);
  border-bottom: 1px solid var(--color-border);
}

.contact__info {
  margin-top: var(--spacing-64);
}
.contact__intro {
  font-size: var(--size-18);
}

.contact__details {
  margin-top: var(--spacing-24);
  display: grid;
  grid-template-columns: 8rem 1fr;
}

.contact__label,
.contact__content {
  display: flex;
  align-items: center;
  padding-block: var(--spacing-24);
  border-bottom: solid 1px var(--color-border);
}
.contact__content a {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  position: relative;
  text-decoration: none;
  color: var(--color-badge-text);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(var(--spacing-4) * -1);
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in;
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
  &:hover::after,
  &:focus-visible::after {
    transform: scaleX(1);
  }
}
